* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        background: url(images/bg-love.png);
        background-repeat: no-repeat;
        background-size: cover;
}

.heading {
        height: 100vh;
        padding-top: 10%;
}

.main-text {
        display: flex;
        align-items: center;
        justify-content: center;
        color: mediumvioletred;
        font-size: 30px;
        font-weight: bold;
}

a {
        text-decoration: none;
        background: orangered;
        padding: 10px 40px;
        color: cyan;
        font-size: 30px;
        font-weight: bold;
        border-radius: 30%;
        margin: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
}

a:hover {
        background: gold;
        color: black;
}

.btn {
        display: flex;
        justify-content: center;
}

/* ------------------------------------------------------------------------------
-------------------------------For Part Two-------------------------------
------------------------------------------------------------------------------ */

.love-u-bg {
        background: url(images/ans.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 20%;
}

.love-u-bg h1 {
        font-size: 60px;
        font-weight: bold;
        color: purple;
}